body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.nav_search {
    width: 50%;
}

.fa-shopping-cart {
    font-size: 30px;
}

/* card  */
.card_img img{
    width: 100%;
}


/* modal  */
.modal-content {
    width: 800px;
}

.modal_item{
    border-bottom: 1px solid whitesmoke;
    display: none;
}

.modal_img{
    width: 5rem;
    height: 5rem;
    justify-content: center;
}
.modal_img img{
    width: 50px;
    height: 50px;
}
/* showSlide */
.container_slide {
    position: relative;
    margin: 5%;
}

.showcard {
    height: 80%;
    /* justify-content: center;
    align-items: center; */
}


.card_items>button{
    font-size: 20px;
    display: none;
}

.card_items:hover {
    border: 1px solid blue;
}

.card_img img{
    width: 80%;
    height: 300px;
    object-fit: fill;
}